.sidebar-inner.slimscroll {
    height: calc(100vh - 60px); /* ajuste selon la hauteur de ton header */
    overflow-y: auto;
    overflow-x: hidden;
}

/* Optionnel : scrollbar plus discrète, dans le style de slimScroll */
.sidebar-inner.slimscroll::-webkit-scrollbar {
    width: 2px;
}
.sidebar-inner.slimscroll::-webkit-scrollbar-thumb {
    background: #7439ff7e;
    border-radius: 5px;
}
